.panelContainer {
    margin-top: 30px;
    box-shadow: 0px 0px 6px #00000029;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 10px;

    .panelContainer-bottom{
        width: 90%;
        margin: 0 auto;
    padding: 20px 0px;

    }

    &::-webkit-scrollbar {
        width: 2px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 1px solid #707070;
        /* creates padding around scroll thumb */
    }
}
color-main{
    color: #262626;
}
